@model MvcProject.Models.Contato

@{
    ViewData["Title"] = "Deletar contato";
}

<div class="container">
    <h1 style="color:red">Deseja Realmente  deletar este contato</h1>
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2 text-light">Nome</dt>
            <dt class="col-sm-10">@Html.DisplayFor(x => x.Nome)</dt>

            <dt class="col-sm-2 text-light">Telefone</dt>
            <dt class="col-sm-10">@Html.DisplayFor(x => x.Telefone)</dt>

            <dt class="col-sm-2 text-light">Ativo</dt>
            <dt class="col-sm-10">@Html.DisplayFor(x => x.Ativo)</dt>
        </dl>
    </div>
</div>

<form asp-action="Deletar">
    <input type="submit" value="Deletar" class="btn btn-danger">
</form>
<br />
<a asp-action="Index">Voltar</a>

